/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #343a40;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e9ecef;
}

/* Стили для кнопок */
.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

    .btn-info:hover {
        background-color: #138496;
        border-color: #117a8b;
    }

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

    .btn-warning:hover {
        background-color: #e0a800;
        border-color: #d39e00;
    }

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

.btn-lg {
    font-size: 1.25rem;
}

/* Стиль для состояния кнопки "Редактировать", когда зарплата выплачена */
.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/* Стили для сообщений */
.alert {
    font-size: 1rem;
}
