@{
    ViewData["Title"] = "Главная страница";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Добро пожаловать в систему управления производством!</h2>

    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm border-primary">
                <div class="card-body text-center">
                    <h5 class="card-title">Сотрудников</h5>
                    <p class="card-text display-5">12</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm border-success">
                <div class="card-body text-center">
                    <h5 class="card-title">Готовых продуктов</h5>
                    <p class="card-text display-5">37</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card shadow-sm border-danger">
                <div class="card-body text-center">
                    <h5 class="card-title">Остатки сырья</h5>
                    <p class="card-text display-5">95</p>
                </div>
            </div>
        </div>
    </div>

    
</div>
